@using Microsoft.AspNet.Identity
@model Instaclone.Models.Post
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Posts"))
{
    @Html.AntiForgeryToken();
    @Html.HiddenFor(m => m.UserId, new { Value = User.Identity.GetUserId() })

    <div class="form-group">
        @Html.LabelFor(m => m.ImageSrc)
        @Html.TextBoxFor(m => m.ImageSrc, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ImageSrc)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
}


@Scripts.Render("~/bundles/jqueryval")