@using Microsoft.AspNet.Identity
@model Instaclone.Models.Post
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Posts"))
{
    @Html.AntiForgeryToken();
    @Html.HiddenFor(m => m.UserId, new { Value = User.Identity.GetUserId() })

    <div class="form-group">
        @Html.LabelFor(m => m.ImageSrc)

        <div class="input-group mb-2">
            @Html.TextAreaFor(m => m.ImageSrc, new { @class = "form-control", id = "image" })
            <div class="input-group-append" onclick="generateImage(this)">
                <div class="input-group-text btn btn-primary">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-shuffle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.624 9.624 0 0 0 7.556 8a9.624 9.624 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.595 10.595 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.624 9.624 0 0 0 6.444 8a9.624 9.624 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5z"></path>
                        <path d="M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192zm0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192z"></path>
                    </svg>
                </div>
            </div>
        </div>

        @Html.ValidationMessageFor(m => m.ImageSrc)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @style = "resize:none;" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
}

@Scripts.Render("~/bundles/jqueryval")
@section Scripts {
    <script>
        function generateImage(e) {
            let sig = Math.round(Math.random() * 100);
            let url = 'https://source.unsplash.com/random/308x205?sig=' + sig;
            $('#image').val(url);
        }
    </script>
}
