@model IEnumerable<Instaclone.Models.Post>
@{
    ViewBag.Title = "MyProfile";
}

<div class="container--header">
    <div class="header--left">
        <h2>My Profile</h2>
        <button class="btn btn-primary" onclick="location.href = '@Url.Action("Create", "Posts")'">Add a Post</button>
    </div>
    <div class="header--right">
        <button class="btn btn-outline-primary btn-followees" onclick="location.href='@Url.Action("MyFollowees", "Follows")'">Who I'm following</button>
        <button class="btn btn-outline-primary btn-followees" onclick="location.href='@Url.Action("MyFollowers", "Follows")'">See my followers</button>
    </div>
</div>


<div class="container--profile">
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-info" id="success-alert">
            @TempData["Message"]
        </div>
    }

    <div class="row posts">

        @foreach (var post in Model)
        {
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <a>@post.User.Name</a>
                        @Html.ActionLink("Delete", "Delete", "Posts", new { postId = post.Id }, new { @class = "btn btn-outline-danger" })
                    </div>
                    <div class="card-body">
                        <img class="card-img" src=@post.ImageSrc alt="" />
                        <div class="card-text">
                            <p class="card-date">@post.DateTime.ToString("dd-MM-yyyy")</p>
                            <p class="card-description">@post.Description</p>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#success-alert").fadeTo(3000, 500).slideUp(500, function () {
                $("#success-alert").slideUp(500);
            });
        });
    </script>
}