@using Instaclone.Models
@using Microsoft.AspNet.Identity
@model Instaclone.ViewModels.PostCommentViewModel

<div class="card-body">
    <img class="card-img" src=@Model.Post.ImageSrc alt="" />
    <div class="card-text">
        <p class="card-date">@Model.Post.DateTime.ToString("dd-MM-yyyy")</p>
        <p class="card-description">@Model.Post.Description</p>
        @Html.ActionLink("Voir les commentaires", "Details", "Posts", new { postId = Model.Post.Id }, new { @class = "text-secondary card-check-comments" })
    </div>
    <hr />

    <div class="card-comment">
        @using (Html.BeginForm("Create", "Comments"))
        {
            @Html.AntiForgeryToken()
            ;

            @Html.HiddenFor(m => Model.Comment.PostId, new { Value = Model.Post.Id })
            ;
            @Html.HiddenFor(m => Model.Comment.UserId, new { Value = User.Identity.GetUserId() })
            ;

            <div class="form-group">
                @Html.TextBoxFor(m => m.Comment.Content, new { @class = "form-control", placeholder = "Add a comment..." })
            </div>

            <button type="submit" class="btn btn-outline-primary">Post</button>
        }
    </div>
</div>